/*-----------------------------------------------------------------------------------------------------------------------------------------------
BASE
-----------------------------------------------------------------------------------------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

:root{
  --cor1: #363636;
  --cor2: #00B896;
  --transparente: rgba(255,255,255,0.1);
}

a{
  text-decoration: none;
}

h3{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
HEADER
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.header{
  background-image: linear-gradient(to right, #101010, #131313, #161616, #191919, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #191919, #161616, #131313, #101010);
  display: flex;
  justify-content: right;
  padding: 1rem 5rem;
}

.nav-link{
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  margin-left: 1rem;
}

.nav-link::after{
  content: '';
  background-color: var(--cor2);
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after{
  width: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
HOME
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.home{
  height: 100vh;
  background-image: url(img/banner-escuro.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 100px;
}

.capa{
  position: relative;
  top: -40px;
}

.texto-home{
  text-align: right;
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
}

.negrito{
  font-size: 4.0rem;
  font-weight: 400;
}

.destaque{
  color: var(--cor2);
}

.redes{
  text-align: right;
}

.button-home{
  filter: contrast(0) brightness(100);
  margin: 20px 10px;
}

.button-home:hover{
  filter: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
BACKGROUNDS
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.bg-escuro{
  background-image: linear-gradient(to right, #101010, #131313, #161616, #191919, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #191919, #161616, #131313, #101010);
  color: white;
}

.bg-claro{
  background-color: #f0f0f0;
  color: var(--cor1);
}

.section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-fh{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
SUBTITULOS
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.subtitulo-box{ 
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.subtitulo{
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: xx-large;
}

.subtitulo-subline{
  height: 4px;
  width: 100%;
  background: var(--cor2);
  display: inline-block;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
SOBRE
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.info-box{
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  margin-bottom: 120px;
}

.sobre-caixa{
  padding: 1.5rem;
  border-radius: 16px;
  border: 1px solid var(--transparente);
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.05);
  margin-bottom: 50px;
}

.texto-sobre{
  max-width: 800px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.foto{
  width: 350px;
  border-radius: 16px;
  border: 3px solid var(--transparente);
}

.tecnologias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.card-tec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 10px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--transparente);
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.logo{
  max-width: 65px;
  max-height: 65px;
  margin: 3px;
}

.title-card{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
PROJETOS
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.caixa-projetos{
  display: flex;
  padding: 50px;
}

.card-projeto{
  margin: 20px;
  width: 350px;
  overflow: hidden;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.img-projeto{
  width: 100%;
  object-fit: cover;
}

.descricao-projeto{
  padding: 1.5rem;
  background: #f5f5f5;
}

.header-projeto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.titulo-projeto{
  font-size: 18px;
}

.button-projeto{
  padding: 3px 10px;
  background-color: lightgreen;
  color: #008631;
  border-radius: 4px;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.1s linear;
}

.button-projeto:hover{
  transform: scale(1.04);
  background-color: #5ced73;
  
}

.texto-projeto{
  font-size: 15px;
  color: rgb(153, 153, 153);
  line-height: 1.25rem;
}

.detalhes-projeto{
  margin-top: 20px;
  display: flex;
  flex-flow: wrap;
  gap: 5px;
}

mark{
  padding: 3px 10px;
  background-color: lightgray;
  color: gray;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.05);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------
CONTATO
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.section-contato{
  margin-bottom: 90px;
  display: flex;
}

.dados-contato{
  width: 600px;
  height: 369px;
  padding: 2rem;
}

.item-contato{
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  margin-left: 100px;
}

.icon-contato{
  padding-right: 10px;
}

.ic-white{
  filter: invert(1);
}

.link-contato{
  color: white;
}

.link-contato:hover{
  color: var(--cor2);
}

.formulario{
  width: 600px;
  margin: 0 auto;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--transparente);
  border-radius: 16px;
}

.grupo-form{
  margin-bottom: 1.5rem;
}

.campo-form{
  width: 100%;
  padding: 1rem;
  background: rgba(255,255,255,0.05);
  border-radius: 8px;
  color: white;
  border: 1px solid var(--transparente);
  outline: none;
}

.campo-form:focus{
  border-color: var(--cor2);
}

textarea{
  height: 150px;
  resize: none;
}

.bt-form{
  color: #fff;
  background: linear-gradient(45deg, #00B896, #00A487);
  font-size: large;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  transition: all 0.2s ease;
}

.bt-form:hover{
  transform: scale(1.01);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
MEDIA QUERIES
-----------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .header{
    justify-content: center;
    padding: 1rem 3rem;
  }
  .nav-link{
    font-size: 0.9rem;
    margin-left: 0px;
    margin: 0rem 1rem;
  }
  .negrito{
    font-size: 3rem;
  }
  .redes{
    text-align: center;
  }
  .button-home{
    margin: 30px 30px;
    width: 50px;
  }
  .info-box{
    flex-direction: column;
  }
  .sobre-caixa{
    margin: 0px 50px 50px 50px;
  }
  .foto{
    width: 250px;
  }
  .card-tec{
    width: 100px;
    height: 100px;
  }
  .caixa-projetos{
    flex-direction: column;
  }
  .section-contato{
    display: block;
  }
  .item-contato{
    margin-left: 100px;
  }
  .formulario{
    width: 350px;
  }
}

@media screen and (max-width: 400px){
  .negrito{
    font-size: 3rem;
  }
  .formulario{
    width: 300px;
  }
}