/*-----------------------------------------------------------------------------------------------------------------------------------------------
BASE
-----------------------------------------------------------------------------------------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

:root{
  --cor1: #363636;
  --cor2: #00B896;
  --transparente: rgba(255,255,255,0.1);
}

a{
  text-decoration: none;
}

h3{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
HEADER
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.header{
  background-image: linear-gradient(to right, #101010, #131313, #161616, #191919, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #191919, #161616, #131313, #101010);
  
}

.nav{
  margin: auto;
  max-width: 1150px;
  display: flex;
  justify-content: right;
  padding: 1rem 0rem;
}

.nav-link{
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  margin-left: 1rem;
}

.nav-link::after{
  content: '';
  background-color: var(--cor2);
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after{
  width: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
HOME
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.home{
  height: 100vh;
  background-image: url(img/banner-escuro.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 100px;
}

.capa{
  position: relative;
  top: -40px;
}

.texto-home{
  text-align: right;
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
}

.negrito{
  font-size: 4.0rem;
  font-weight: 400;
}

.destaque{
  color: var(--cor2);
}

.redes{
  text-align: right;
}

.button-home{
  filter: contrast(0) brightness(100);
  margin: 20px 10px;
}

.button-home:hover{
  filter: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
BACKGROUNDS
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.bg-escuro{
  background-image: linear-gradient(to right, #101010, #131313, #161616, #191919, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #191919, #161616, #131313, #101010);
  color: white;
}

.bg-claro{
  background-color: #f0f0f0;
  color: var(--cor1);
}

.section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-fh{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
SUBTITULOS
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.subtitulo-box{ 
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.subtitulo{
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: xx-large;
}

.subtitulo-subline{
  height: 4px;
  width: 100%;
  background: var(--cor2);
  display: inline-block;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
SOBRE
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.info-box{
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sobre-caixa{
  max-width: 1150px;
  padding: 1.5rem;
  border-radius: 16px;
  border: 1px solid var(--transparente);
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.05);
  margin-bottom: 50px;
}

.texto-sobre{
  
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.foto{
  width: 370px;
  border-radius: 16px;
  border: 3px solid var(--transparente);
}

.conhecimentos{
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tecnologias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 30px;
}

.card-tec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--transparente);
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.logo{
  max-width: 65px;
  max-height: 65px;
  margin: 3px;
}

.title-card{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bt-download{
  color: #fff;
  font-size: large;
  padding: 1rem 2rem;
  border: 2px solid var(--cor2);
  border-radius: 8px;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 50px;
}

.bt-download:hover{
  background: linear-gradient(45deg, #00B896, #00A487);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
PROJETOS
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.caixa-projetos{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.lista-projetos{
  display: grid;
  /*flex-flow: wrap;*/
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1150px;
  width: 100%;
  gap: 18px;
  padding: 0 2rem 2rem 2rem;
}

.card-projeto{
  width: 100%;
  max-width: 350px;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.img-container{
  overflow: hidden;
  width: 348px;
  position: relative;
}

.img-projeto{
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.img-projeto:hover{
  
  transform: scale(1.2);
}

.descricao-projeto{
  padding: 1.5rem;
  background: #f5f5f5;
}

.header-projeto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.titulo-projeto{
  font-size: 18px;
}

.texto-projeto{
  font-size: 15px;
  color: rgb(153, 153, 153);
  line-height: 1.25rem;
}

.detalhes-projeto{
  margin-top: 10px;
  display: flex;
  flex-flow: wrap;
  gap: 5px;
}

mark{
  padding: 3px 10px;
  background-color: lightgray;
  color: gray;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.05);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.links-projeto{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.bt-projeto{
  padding: 6px 10px;
  color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease;
}

.bt-projeto:hover{
  transform: scale(1.02);
}

.bt-proj-dark{
  background-image: linear-gradient(to right, #101010, #131313, #161616, #191919, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #191919, #161616, #131313, #101010);
}

.bt-proj-dark:hover{
  background: linear-gradient(45deg, #00B896, #00A487);
}

.bt-proj-light{
  background: linear-gradient(45deg, #00B896, #00A487);
}

.modal {
  display: none; /* Oculta por padrão */
  position: fixed; /* Fixo na tela */
  z-index: 1; /* Garante que está acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Preenche toda a tela */
  height: 100%; /* Preenche toda a tela */
  overflow: none; /* Permite rolagem se o conteúdo for maior que a tela */
  background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
}

.modal-content {
  background-color: #fefefe; /* Cor de fundo do modal */
  margin: 5% auto; /* Posiciona no centro da tela */
  padding: 0px 10px 10px 10px;
  border: 1px solid #888; /* Borda do modal */
  width: 80%; /* Largura do modal */
  max-width: 1200px; /* Largura máxima do modal */
}

.modal-img {
  max-width: 100%; /* Imagem ajusta-se à largura do modal */
  max-height: 80vh; /* Altura máxima da imagem, ajustada ao viewport */
  display: block; /* Faz a imagem ocupar toda a largura disponível */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------
CONTATO
-----------------------------------------------------------------------------------------------------------------------------------------------*/
.section-contato{
  margin-bottom: 90px;
  display: flex;
}

.dados-contato{
  width: 600px;
  height: 369px;
  padding: 2rem;
}

.item-contato{
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  margin-left: 100px;
}

.icon-contato{
  padding-right: 10px;
}

.ic-white{
  filter: invert(1);
}

.link-contato{
  color: white;
}

.link-contato:hover{
  color: var(--cor2);
}

.formulario{
  width: 600px;
  margin: 0 auto;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--transparente);
  border-radius: 16px;
}

.grupo-form{
  margin-bottom: 1.5rem;
}

.campo-form{
  width: 100%;
  padding: 1rem;
  background: rgba(255,255,255,0.05);
  border-radius: 8px;
  color: white;
  border: 1px solid var(--transparente);
  outline: none;
}

.campo-form:focus{
  border-color: var(--cor2);
}

textarea{
  height: 150px;
  resize: none;
}

.bt-form{
  color: #fff;
  background: linear-gradient(45deg, #00B896, #00A487);
  font-size: large;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: normal;
  width: 100%;
  transition: all 0.2s ease;
}

.bt-form:hover{
  transform: scale(1.01);
}

/*
FOOTER
*/
footer{
  background-color: var(--cor2);
      color: var(--cor1);
      padding: 30px 40px;
      text-align: center;
      font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
MEDIA QUERIES
-----------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .nav{
    justify-content: space-around;
    padding: 1rem;
  }
  .nav-link{
    font-size: 0.9rem;
    margin-left: 0px;
    margin: 0rem 1rem;
  }
  .negrito{
    font-size: 3rem;
  }
  .redes{
    text-align: center;
  }
  .button-home{
    margin: 30px 30px;
    width: 50px;
  }
  .info-box{
    flex-direction: column;
    gap: 50px;
  }
  .sobre-caixa{
    margin: 0px 50px 50px 50px;
  }
  .texto-sobre{
    font-size: 0.8rem;
    font-weight: normal;
  }
  .foto{
    width: 250px;
  }
  .tecnologias{
    max-width: 300px;
  }
  .card-tec{
    width: 80px;
    height: 80px;
  }
  .logo{
    max-width: 50px;
  }
  .title-card{
    font-size: small;
  }
  .caixa-projetos{
    flex-direction: column;
  }

  .lista-projetos{
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .section-contato{
    display: block;
  }
  .item-contato{
    margin-left: 100px;
  }
  .formulario{
    max-width: 350px;
  }
}

@media screen and (max-width: 400px){
  .nav-link{
    font-size: 0.8rem;
    margin-left: 0px;
    margin: 0rem 0.8rem;
  }
  .negrito{
    font-size: 3rem;
  }
  .formulario{
    max-width: 300px;
  }
}